/* .modal-content {
    background-color: #354549 !important;
  } */
  
  .modal-header,
  .modal-body,
  .modal-footer {
    background-color: #121616 !important;
  }
  .form-label{
    color: white !important;
  }
  .form-control{
    color: white !important;
    background-color: #1d2628 !important;
    border-color: #1d2628 !important;
  } 

  .modal-title{
    color: white !important;
  }

  .btn{
    margin-top: 30px;

  }